<p id="notice"><%= notice %></p>

<p>
  <strong>الاسم:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>الصورة:</strong>
<%= image_tag(@business.picture_url, :width => 150) if @business.picture.present? %>
</p>

<%= link_to 'تعديل', edit_business_path(@business) %> |
<%= link_to 'الرجوع', businesses_path %>
