<h2>تعديل <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :البريد_الالكتروني %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>الانتظار الحالى لتأكيد :  <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :كلمة_المرور %> <i>(اتركه فارغا ان لا تريد التغيير)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :تأكيد_كلمة_المرور %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :كلمة_المرور_الحالية%> <i>(نحتاج لكلمة المرور الحالية لتأكيد التعديل)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "تعديل" %></div>
<% end %>

<h3>الغاء حسابي</h3>

<p>غير راضي؟ <%= button_to "الغاء حسابي", registration_path(resource_name), data: { confirm: "متأكد؟" }, method: :delete %></p>

<%= link_to "رجوع", :back %>
