<div class="container">
<h2>اعادة ارسال تعليمات الفتح</h2>
<div class="well">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :البريد_الالكتروني %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "اعادة ارسال تعليمات الفتح" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div></div>
