<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%if signed_in?%>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.check_box :availability %>
  </div>
  <div class="field">
    <%= f.label :availability_comment %><br>
    <%= f.text_field :avcomment %>
  </div>
  <div class="field">
    <%= f.label :total_average %><br>
    <%= f.text_field :totalavg %>
  </div>
  
  
   <%= f.fields_for :rates  do |rate_fields| %>
   <div class="field">
    <%= rate_fields.label :price %><br>
    <%= rate_fields.text_field :price %>
  </div>
  <div class="field">
    <%= rate_fields.label :quality %><br>
    <%= rate_fields.text_field :quality %>
  </div><div class="field">
    <%= rate_fields.label :punctuality %><br>
    <%= rate_fields.text_field :punctuality %>
  </div><div class="field">
    <%= rate_fields.label :cleanliness %><br>
    <%= rate_fields.text_field :cleanliness %>
  </div><div class="field">
    <%= rate_fields.label :dealing %><br>
    <%= rate_fields.text_field :dealing %>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <%else%>
  <% flash[:notice]="Please Sign in"%>
  <%end%>
  
<% end %>
