<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.check_box :availability %>
  </div>
  <div class="field">
    <%= f.label :availability_comment %><br>
    <%= f.text_field :avcomment %>
  </div>
  <div class="field">
    <%= f.label :total_average %><br>
    <%= f.text_field :totalavg %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
