<li>
		
		<div class="row">
			<div class="col-md-6">
				<span class="rates"><%=rate %></span>
			</div>
		</div>
	<span class="timestamp">
		Posted <%= time_ago_in_words(rate.created_at)%> ago.
	</span>
	<% if current_user?(rate.user)%>
		<%= link_to "delete",post,method: :delete,data: {confirm: "You sure?"} %>
		<%= link_to "edit",edit_rate_path(rate) %>
		<%= link_to "details",rate_path(rate)%>


	<% end%>	                          
</li>
