<div class="container-fluid">
<h1>قائمة الفنيين</h1>
<% @workers.each do |worker| %>
	<% output = worker.average_all%>
	<div class="well">
		<div class="col-sm-6 col-lg-3">
			<h2> تقييم السعر   : <%= output[0] %></h2>
      		<h2> تقييم الجوده  : <%= output[1] %></h2>
      		<h2> تقييم الانضباط : <%= output[2] %></h2>
      		<h2> تقييم التعامل : <%= output[3] %></h2>
     	 	<h2> تقييم النظافه : <%= output[4] %></h2>
		</div>
		<div class:"col-sm-6 col-lg-3">
			<h2>فني <%= worker.worker_type%> : <%= worker.name %></h2>
      		<h2>  التليفون : <%= worker.telephone %></h2>
      		<% if worker.availability?%>
      		
      		
      		<h2>  متاح  : نعم,<%= worker.avcomment%></h2>
      		<%else%>
      		<h2>  متاح  : لا,<%= worker.avcomment%></h2>

      		<%end%>
     		<h2> المنطقه : <%= worker.region %></h2>

     	 </div>
     
     	      
	
		<%= link_to 'Show', worker %>
		  <%= link_to 'Evaluate', new_worker_rate_path(worker) %>
		<%if signed_in?%>
        	<%= link_to 'Edit', edit_worker_path(worker) %>
        	<%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %>
      	<%end%>
       
      </div>

<%end%>
</div>
