<div class="container">
<h2>قائمة الفنيين</h2>
<% @workers.each do |worker| %>
	<% output = worker.average_all%>
	<div class="row">
	<div class="well">
		
		<div class="col-md-6 col-lg-push-6">
			<h4><strong>فني <%= worker.business.name%> &nbsp:&nbsp&nbsp&nbsp <%= worker.name %></strong></h4>
      		<h4><strong>  التليفون&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp<%= worker.telephone %></strong></h4>
      		<% if worker.availability?%>
      		
      		<h4><strong>  متاح  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp نعم&nbsp&nbsp&nbsp,&nbsp&nbsp&nbsp&nbsp<%= worker.avcomment%></strong></h4>
      		<%else%>
      		<h4><strong>  متاح &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp  لا &nbsp&nbsp&nbsp,&nbsp&nbsp&nbsp&nbsp<%= worker.avcomment%></strong></h4>

      		<%end%>
     		<!-- <h4><strong> المنطقه &nbsp&nbsp&nbsp&nbsp:&nbsp&nbsp <%= worker.region %></strong></h4> -->
     	 </div>
     		<div class="col-md-6 col-lg-pull-6">
     			<h4><strong>التقييم&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= show_color(worker.total_average)%></strong></h4>
     			
			</div>
		<!-- <div class="col-md-6 col-lg-pull-6">
			<h4><strong> تقييم الجوده  &nbsp&nbsp&nbsp: <%= show_stars(output[1]) %></strong></h4>
      		<h4><strong> تقييم الانضباط : <%= show_stars(output[2]) %></strong></h4>
      		<h4><strong> تقييم التعامل &nbsp&nbsp&nbsp: <%= show_stars(output[3]) %></strong></h4>
     	 	<h4><strong> تقييم النظافه &nbsp&nbsp&nbsp: <%= show_stars(output[4]) %></strong></h4>
			<h4><strong> تقييم السعر   &nbsp&nbsp&nbsp: <%= show_stars(output[0]) %></strong></h4>
		</div> -->
		<div class="row">
			<div class="col-md-12">
			<h4><%= link_to 'اظهار ', worker %>
		  | <%= link_to 'تقييم ', new_worker_rate_path(worker) %>
		<%if signed_in?%>
        	| <%= link_to 'تعديل ', edit_worker_path(worker) %>
        	| <%= link_to 'الغاء ', worker, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      	<%end%>
	</div>
	</div>

		
       
      </div>
</div>
<%end%>
</div>
