<div class="well">
<p>
  <strong> <%= @worker.worker_type %> : <%= @worker.name %>   , التليفون : <%= @worker.telephone %></strong>
</p>
 
<p>
	<% if @worker.availability?%>
      		
      		<strong>  متاح  : نعم,<%= @worker.avcomment%></h2></strong>
      		<%else%>
      		<strong>  متاح  : لا,<%= @worker.avcomment%></h2></strong>

      <%end%>
</p>
<p>
  <strong>المنطقه : <%= @worker.region %></strong>
</p>

<p>
  <strong>تقييم السعر  : <%= @worker.average_price %></strong>
</p>

<p>
  <strong>تقييم الجوده : <%= @worker.average_quality %></strong>
</p>

<p>
  <strong>تقييم الانضباط : <%= @worker.average_punctuality %></strong>  
</p>

<p>
  <strong>تقييم التعامل :  <%= @worker.average_dealing %></strong>
</p>

<p>
  <strong>تقييم النظافه : <%= @worker.average_cleanliness %></strong>
</p>

<p>
  <strong>التعليقات:</strong>
  <% @worker.rates.each do |rate| %>
    <p><%= rate.comment %></p>
  <% end %>


</p>
<% if signed_in?%>
<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%end%>
<%= link_to 'Back', workers_path %>
</div>
