<p>
  <strong>الاسم:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>التليفون:</strong>
  <%= @worker.telephone %>
</p>

<p>
  <strong>متاح:</strong>
  <%= @worker.availability %>
</p>


<p>
  <strong>الحالة:</strong>
  <%= @worker.avcomment %>
</p>

<p>
  <strong>المنطقه:</strong>
  <%= @worker.my_column %>
</p>
<p>
  <strong>نوع الحرفة:</strong>
  <%= @worker.type %>
</p>
<p>
  <strong>تقييم السعر:</strong>
  <%= @worker.average_price %>
</p>
<p>
  <strong>تقييم الجوده:</strong>
  <%= @worker.average_quality %>
</p>
<p>
  <strong>تقييم الانضباط:</strong>
  <%= @worker.average_punctuality %>
</p>
<p>
  <strong>تقييم التعامل:</strong>
  <%= @worker.average_dealing %>
</p>
<p>
  <strong>تقييم النظافه:</strong>
  <%= @worker.average_cleanliness %>
</p>
<p>
  <strong>التعليقات:</strong>
  <%= @worker.comment %>
</p>
<% if signed_in?%>
<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%end%>
<%= link_to 'Back', workers_path %>
