<div class="well">
<p>
  <strong> فني <%= @worker.worker_type %> : <%= @worker.name %>   , التليفون : <%= @worker.telephone %></strong>
</p>
 
<p>
	<% if @worker.availability?%>
      		
      		<strong>  متاح  : نعم,<%= @worker.avcomment%></h2></strong>
      		<%else%>
      		<strong>  متاح  : لا,<%= @worker.avcomment%></h2></strong>

      <%end%>
</p>
<p>
  <strong>المنطقه : <%= @worker.region %></strong>
</p>

<p>
  <strong>تقييم السعر  : <%= show_stars(@worker.average_price) %></strong>
</p>

<p>
  <strong>تقييم الجوده : <%= show_stars(@worker.average_quality) %></strong>
</p>

<p>
  <strong>تقييم الانضباط : <%= show_stars(@worker.average_punctuality) %></strong>  
</p>

<p>
  <strong>تقييم التعامل :  <%= show_stars(@worker.average_dealing) %></strong>
</p>

<p>
  <strong>تقييم النظافه : <%= show_stars(@worker.average_cleanliness) %></strong>
</p>

<p>
	<div class="row">
		<div class="col-md-10">
  <% @worker.rates.each do |rate| %>
  
    <p><%= rate.comment %></p>
    
  <% end %>
  </div>
		<div class="col-md-2">
  <strong>التعليقات:</strong>
  </div>
  
  </div>


</p>
<% if signed_in?%>
<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%end%>
<%= link_to 'Back', workers_path %>
</div>
