<div class="container">
<div class="well">
  <h4><strong> فني <%= @worker.worker_type %>&nbsp:&nbsp&nbsp&nbsp<%= @worker.name %>   , التليفون&nbsp&nbsp&nbsp : &nbsp&nbsp&nbsp<%= @worker.telephone %></strong></h4>

 
	<% if @worker.availability?%>
      		
      		<h4><strong>  متاح&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp  نعم&nbsp&nbsp&nbsp,&nbsp&nbsp&nbsp&nbsp<%= @worker.avcomment%></strong></h4>
      		<%else%>
      		<strong>   متاح  :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp لا&nbsp&nbsp&nbsp,&nbsp&nbsp&nbsp&nbsp<%= @worker.avcomment%></strong></h4>

      <%end%>
  <h4><strong>المنطقه&nbsp&nbsp&nbsp&nbsp:&nbsp&nbsp<%= @worker.region %></strong></h4>
  <h4><strong>تقييم الجوده &nbsp&nbsp&nbsp: <%= show_stars(@worker.average_quality) %></strong></h4>
  <h4><strong>تقييم الانضباط: <%= show_stars(@worker.average_punctuality) %></strong></h4>
  <h4><strong>تقييم التعامل&nbsp&nbsp&nbsp:  <%= show_stars(@worker.average_dealing) %></strong></h4>
  <h4><strong>تقييم النظافه&nbsp&nbsp&nbsp: <%= show_stars(@worker.average_cleanliness) %></strong></h4>
  <h4><strong>تقييم السعر&nbsp&nbsp&nbsp: <%= show_stars(@worker.average_price) %></strong></h4>

	<div class"row">
		<div class="col-lg-2 col-lg-push-10">
			<h4><strong>اخر ثلاث تقييمات: </strong></h4>
		</div>
	 	<div class="col-lg-10 col-lg-pull-2">
	 	<%@worker.rates.last(3).each do |rate|%>
			<div style="border-bottom: 1px gray solid; width: 25%; margin-left: 25%;"> 
			<h4>
				<strong>الجوده&nbsp&nbsp&nbsp: <%=show_stars(rate.quality)%></strong>
				<strong>الانضباط:<%=show_stars(rate.punctuality)%></strong> 
				<strong>التعامل&nbsp&nbsp&nbsp: <%=show_stars(rate.dealing)%></strong> 
				<strong>النظافه&nbsp&nbsp&nbsp:<%=show_stars(rate.cleanliness)%></strong> 
				<strong>السعر&nbsp&nbsp&nbsp: <%=show_stars(rate.price)%></strong></h4>
			</div>
		<%end%>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-lg-push-10">
  				<h4><strong>التعليقات:</strong></h4>
  		</div>
  		<div class="col-lg-10 col-lg-pull-2">
  			 <% @worker.rates.each do |rate| %>
  			 <li>
    			<h4><strong><%= rate.comment %></strong></h4>
    		</li>
 			 <% end %>
 		</div>
  	</div>
  	<%= link_to worker_rates_path(@worker) do %>
  <i class="icon-ok icon-white"></i> 
  	<% if @worker.rates.any?%>
		<h4 style=color:#428bca>التقييمات: <%= @worker.rates.count%></h4>
	<%end%>
	<% end %>
	<%= link_to worker_rates_path(@worker) do %>
  <i class="icon-ok icon-white"></i> 
 	<h4 style=color:#428bca>التعليقات: <%= @worker.rates.where("comment IS NOT NULL").count%></h4>
<% end %>

<% if admin_signed_in?%>
<h4><%= link_to 'تعديل', edit_worker_path(@worker) %>
<%end%>
| <%= link_to 'رجوع', workers_path %></h4>



</div>
</div>
