<p>
  <strong>الاسم:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>التليفون:</strong>
  <%= @worker.telephone %>
</p>

<p>
  <strong>متاح:</strong>
  <%= @worker.availability %>
</p>


<p>
  <strong>الحالة:</strong>
  <%= @worker.avcomment %>
</p>

<!-- <p>
  <strong>المنطقه:</strong>
  <%= @worker.my_column %>
</p> -->

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
