<%= form_for([@worker,@rate]) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> يحظر هذا التقييم من ان يتم حفظه:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :السعر %><br>
    <%= f.number_field :price , in: 1..5%>
  </div>
  <div class="field">
    <%= f.label :الجودة %><br>
    <%= f.number_field :quality , in: 1..5%>
  </div>
  <div class="field">
    <%= f.label :الانضباط %><br>
    <%= f.number_field :punctuality , in: 1..5%>
  </div>
  <div class="field">
    <%= f.label :التعامل %><br>
    <%= f.number_field :dealing, in: 1..5 %>
  </div>

  <div class="field">
    <%= f.label :النظافة %><br>
    <%= f.number_field :cleanliness , in: 1..5%>
  </div>
 
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
