<h1>Listing rates</h1>

<table>
  <thead>
    <tr>
      <th>Quality</th>
      <th>Price</th>
      <th>Cleanliness</th>
      <th>Punctuality</th>
      <th>Dealing</th>
      <th>Average</th>
      <th>Worker</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worker.rates.each do |rate| %>
      <tr>
        <td><%= show_stars(rate.quality) %></td>
        <td><%= show_stars(rate.price )%></td>
        <td><%= show_stars(rate.cleanliness) %></td>
        <td><%= show_stars(rate.punctuality) %></td>
        <td><%= show_stars(rate.dealing) %></td>
        <td><%= link_to 'Show', worker_rate_path(@worker.id,rate.id) %></td>
        <td><%= link_to 'Edit', edit_worker_rate_path(@worker.id,rate.id) %></td>
        <td><%= link_to 'Destroy', worker_rate_path(@worker.id,rate.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_worker_rate_path %>
