<div class="container">
	<h2> قائمة التقييمات و التعليقات</h2>

	<div class="well">

    <% @worker.rates.each do |rate| %>

        <h4><strong> تقييم الجوده  :<%= show_stars(rate.quality) %><br>
         تقييم الانضباط : <%= show_stars(rate.punctuality) %><br>
        تقييم التعامل : <%= show_stars(rate.dealing) %><br>
		تقييم النظافه :<%= show_stars(rate.cleanliness) %><br>
         تقييم السعر   : <%= show_stars(rate.price )%></strong></h4><br>
        <h4><%= link_to 'اظهار', worker_rate_path(@worker.id,rate.id) %> 
        | <%= link_to 'تعديل', edit_worker_rate_path(@worker.id,rate.id) %> 
        | <%= link_to 'الغاء', worker_rate_path(@worker.id,rate.id), method: :delete, data: { confirm: 'متأكد؟?' } %></h4>
       <% end %>
 	
<br>

<h4><%= link_to 'تقييم جديد', new_worker_rate_path %></h4>
</div>
</div>
