<h1>Listing rates</h1>

<table>
  <thead>
    <tr>
      <th>Quality</th>
      <th>Price</th>
      <th>Cleanliness</th>
      <th>Punctuality</th>
      <th>Dealing</th>
      <th>Average</th>
      <th>Worker</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.quality %></td>
        <td><%= rate.price %></td>
        <td><%= rate.cleanliness %></td>
        <td><%= rate.punctuality %></td>
        <td><%= rate.dealing %></td>
        <td><%= rate.average %></td>
        <td><%= rate.worker_id %></td>
        <td><%= rate.review %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_rate_path %>
