<div class="container">
	<h2> التقييم </h2>


<div class="well">


 <h4>
				<strong>الجوده&nbsp&nbsp&nbsp: <%=show_stars(@rate.quality)%></strong>
				<strong>الانضباط:<%=show_stars(@rate.punctuality)%></strong> 
				<strong>التعامل&nbsp&nbsp&nbsp: <%=show_stars(@rate.dealing)%></strong> 
				<strong>النظافه&nbsp&nbsp&nbsp:<%=show_stars(@rate.cleanliness)%></strong> 
				<strong>السعر&nbsp&nbsp&nbsp: <%=show_stars(@rate.price)%></strong></h4>

<div class="row">
		
	<div class="col-lg-2 col-lg-push-10">
  <h4><strong>التعليقات:</strong></h4>
  </div>
  <div class="col-lg-10 col-lg-pull-2">
  <% @worker.rates.each do |rate| %>
    <h4><strong><p><%= rate.comment %></p></strong></h4>
  <% end %>
  
 </div>
</div>
<h4><%= link_to 'تعديل', edit_worker_rate_path(@worker.id,@rate.id) %> 
| <%= link_to 'رجوع', worker_rates_path %></h4>
</div>
</div>
