<div class="container">
	<h2> التقييم </h2>


<div class="well">

<p id="notice"><%= notice %></p>

<p>
  <h4><strong>الجودة:<%= show_stars(@rate.quality) %></strong></h4>
</p>

<p>
  <h4><strong>السعر:<%= show_stars(@rate.price) %></strong></h4>
</p>

<p>
  <h4><strong>النظافة:<%= show_stars(@rate.cleanliness) %></strong></h4>
</p>

<p>
  <h4><strong>الانضبات:<%= show_stars(@rate.punctuality) %></strong></h4>
</p>

<p>
  <h4><strong>التعامل:<%= show_stars(@rate.dealing) %></strong></h4>
</p>


<div class="row">
		
	<div class="col-lg-2 col-lg-push-10">
  <h4><strong>التعليقات:</strong></h4>
  </div>
  <div class="col-lg-10 col-lg-pull-2">
  <% @worker.rates.each do |rate| %>
  
    <h4><strong><p><%= rate.comment %></p></strong></h4>
    
  <% end %>
  
 </div>
</div>
<h4><%= link_to 'تعديل', edit_worker_rate_path(@worker.id,@rate.id) %> 
| <%= link_to 'رجوع', worker_rates_path %></h4>
</div>
</div>
