
<!DOCTYPE html>
<html>
<head>
  <title>Elherafy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<div role="navigation">     
	<div class="">    
		<div class="row">
			<div class="col-md-5">
				<%= image_tag "itc.png", :style => "width:200px;height:100px"%>
				<div class="col-md-6">
				<%= image_tag "humanfoundation.png", :style => "width:250px;height:100px"%>
				</div>
			</div>
			<div class="col-md-5">
			<h1 class="title" style="background: transparent; color: black;border-width: 0px">
    			The Human Foundation  
			</h1>     
			</div>     
			<div class="col-md-4">
		    <h1>
		    	برنامج الحرفى المصرى
		    </h1>
		    </div>
		   
		 </div>
		
		</div>   
	</div>


<div class="navbar navbar-inverse navbar-ﬁxed-top" role="navigation">     
	<div class="container">    
		<div class="navbar-header">         
		
		 </div>
		<div class="navbar-collapse collapse navbar-right">         
			<ul class="nav navbar-nav"> 
				  
				 <% if signed_in? %>
					<li id="fat-menu" class="dropdown">
						<a href="a" class="dropdown-toggle navbar-brand"data-toggle="dropdown">
						
							الحساب <b class="caret " ></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "اضافة فني" , new_worker_path%></li>           
					             
							<li class="divider"></li>
							<li>
								<%= link_to "تسجيل خروج",destroy_admin_session_path , method: "delete" %>
							</li>
						</ul>
					<% end %>

						<li><%= link_to "الفنيين" , workers_path, :class=>'navbar-brand'%></li>
				  		<li><%= link_to "عن المشروع" , '#', :class=>'navbar-brand' %></li>
				  		<li><%= link_to "الرئيسية" , root_path, :class=>'navbar-brand' %></li>
					</ul>   
				 
				 
				
				
			</div><!--/.navbar-collapse -->     
		</div>   
	</div>



<body>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
 			<div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
 			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    <%= content_tag :div, msg, :class => "flash_#{name}" %>
    </div>
    
  <% end %>
  
<% end %>

<%= yield %>

</body>
</html>
