
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	
	<title>Elherafy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>



<body>


 <div role="navigation">     
	<div class="">    
		<div class="row">
			<div class="col-xs-12">
				<div style="float:left;">
				<%= image_tag "itc.png", :style => "width:150px;height:70px"%>
				
				<%= image_tag "humanfoundation.png", :style => "width:150px;height:70px"%> </div>
			
			<!-- <h1 class="title" style="background: transparent; color: black;border-width: 0px">
    			The Human Foundation  
			</h1>  -->    
			
		    <h1>
		    	الحرفى المصرى
		    </h1>
		    
		   
		 </div>
		
		</div>   
	</div> 


<div class="navbar navbar-inverse navbar-ﬁxed-top" role="navigation">     
	<div class="container">    
		<div class="navbar-header">         
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">          
				 <span class="sr-only">Toggle navigation</span>          
				 <span class="icon-bar"></span>           
				 <span class="icon-bar"></span>           
				 <span class="icon-bar"></span>         
		    </button>
		    <a class="navbar-brand" >الحرفى المصرى</a>
		 </div>
		<div class="collapse navbar-collapse bs-navbar-collapse">         
			<ul class="nav navbar-nav navbar-right"> 
				  
				 <% if signed_in? %>
					<li>
						<a href="a" class="dropdown-toggle" data-toggle="dropdown">
						
							الحساب <b class="caret " ></b>
						</a>
						<ul class="dropdown-menu">
							<li style="text-align: right;"><%= link_to "اضافة فني" , new_worker_path%></li>           
					             
							<li class="divider"></li>
							<li style="text-align: right;">
								<%= link_to "تسجيل خروج",destroy_admin_session_path , method: "delete" %>
							</li>
							<li style="text-align: right;">
								<%= link_to "انشاء حساب",  admin_session_path %>
							</li>
						</ul>
						</li>
					<% end %>
						<li><%= link_to "للتواصل",contact_path%>
						<li><%= link_to "خطوات المشروع",steps_path%>
						<li><%= link_to "مجلس التدريب الصناعي", "http://itcegypt.eg/"%>
						<li><%= link_to "مؤسسة بناء الانسان و التنمية", "http://www.hfegypt.org/"%></li>
						<li><%= link_to "الفنيين" , workers_path%></li>
				  		<li><%= link_to "عن المشروع" , about_path %></li>
				  		<li><%= link_to "الرئيسية" , root_path %></li>
				  		
					</ul>   
				 
				 
				
				
			</div><!--/.navbar-collapse -->     
		</div>   
	</div>


<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
 			<div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
 			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    <%= content_tag :div, msg, :class => "flash_#{name}" %>
    </div>
    
  <% end %>
  
<% end %>

<%= yield %>

</body>
</html>
